# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hmptrfluamgvzhsrakwb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtcHRyZmx1YW1ndnpoc3Jha3diIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2NTQ3OTgsImV4cCI6MjA3NDIzMDc5OH0.vswDdMPZE1-CpWY7YfnvLqiZA4q5UZ5n_RY-UcM688s
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtcHRyZmx1YW1ndnpoc3Jha3diIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODY1NDc5OCwiZXhwIjoyMDc0MjMwNzk4fQ.witW0qO4x68ZJewYK0AKuymboToVc1mTEORzhd1vgx8

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Mollie
MOLLIE_API_KEY=test_xxxxxxxxxxxxxxxxxxxxxx
